<h3 id="{{move}}"><a href="#{{move}}" class="anchor-link"><span class="glyphicon glyphicon-link"></span></a><name move="{{move}}"></name></h3>
<if path="moves.{{move}}.requires_move"><p class="requires">Requires: <name move="[moves.{{move}}.requires_move]"></name></p></if>
<if path="moves.{{move}}.replaces_move"><p class="requires">Replaces: <name move="[moves.{{move}}.replaces_move]"></name></p></if>
<if path="moves.{{move}}.requires"><p class="requires"><gamedata path="moves.{{move}}.requires"></gamedata></p></if>
<gamedata path="moves.{{move}}.description"></gamedata>