doctype html
html
  head
    title
      = title
      |  - Heresy World
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .page-container.container
      // top navbar
      #nav.col-md-3
        .branding Heresy World
        mixin menu(menu)
          if menu
            ul.nav
              each item in menu              
                li(class=(item.active ? 'active' : ''))
                  a(href="#{item.href}")= item.name
                  if !!item.subMenuList
                    +menu(item.subMenuList)
        +menu(menuItemsList)
      .col-md-9
        block content
    script(src="https://code.jquery.com/jquery-1.12.4.min.js", integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=", crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js", integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS", crossorigin="anonymous")
    script(src='/javascripts/index.js', type="text/javascript")