body {
  padding-bottom:  40px;
}
.text-center {
  padding-top: 20px;
}
.col-xs-12 {
  background-color: #fff;
}
#nav .branding {
  padding: 8px 12px;
  font-weight: bold;
  font-size: 18px;
}
#nav {
  height: 100%;
  padding-right: 10px;
}
#nav li a {
  border:0 #f2f2f2 solid;
  border-bottom-width:1px;
  font-weight: bold;
  padding: 8px 12px;
}

#nav li.active ul {
  display: block;
}

#nav li li ul {
  display: none;
}

#nav li.active > a {
  background: #337ab7;
  color: #fff;
}

#nav li.active > a:hover {
  background: #337ab7;
  color: #ffffff;
}

#nav li li a {
  padding-left: 25px;
  font-size: 0.9em;
  font-weight: normal;
}

#nav li li li a {
  padding: 8px 12px 8px 30px;
  font-size: 0.8em;
  color: #555;
  font-weight: normal;
}

#nav li li li a:hover {
  color: #333;
}


@media screen and (min-width: 768px) {

}

@media (min-width: 1200px) {

}

h1, h2, h3 {
  position: relative;
  vertical-align: middle;
}

h1 a.anchor-link,
h2 a.anchor-link,
h3 a.anchor-link {
  font-size: 16px;
  height: 20px;
  margin-top: -10px;
  top: 50%;
  line-height: 20px;
  position: absolute;
  left: -25px;
  text-align: center;
  width: 30px;
  opacity: 0;
}

h1 a.edit-game-link,
h2 a.edit-game-link,
h3 a.edit-game-link {
  float: right;
  font-size: 16px;
  opacity: 0.25;
}

h1 a.edit-game-link {
  margin-top: 10px;
  opacity: 0.75;
}


h1 a.edit-game-link:hover,
h2 a.edit-game-link:hover,
h3 a.edit-game-link:hover,
h1 a.edit-game-link:active,
h2 a.edit-game-link:active,
h3 a.edit-game-link:active {
  text-decoration: none;
}

.move:hover a.edit-game-link,
.move:hover a.edit-game-link,
.move:hover a.edit-game-link,
h1:hover a.edit-game-link,
h2:hover a.edit-game-link,
h3:hover a.edit-game-link {
  opacity: 1;
}

h1:hover a.anchor-link,
h2:hover a.anchor-link,
h3:hover a.anchor-link {
  opacity: 1;
}

.first-person {
  font-style: italic;
  font-size: 1.1em;
}

.move-description {
  padding-left: 10px;
  border-left: 3px solid #666;
  color: #777;
}

.content > h1:first-of-type {
  margin-top: 10px;
}

p.requires,
p.replaces {
  font-style: italic;
}