body {
  padding-top: 51px;
  padding-bottom:  40px;
}
.text-center {
  padding-top: 20px;
}
.col-xs-12 {
  background-color: #fff;
}
#sidebar {
  height: 100%;
  padding-right: 0;
  padding-top: 20px;
}
#sidebar li a {
  border:0 #f2f2f2 solid;
  border-bottom-width:1px;
  font-weight: bold;
}

#sidebar li.active ul {
  display: block;
}

#sidebar li li ul {
  display: none;
}

#sidebar li.active > a {
  background: #337ab7;
  color: #fff;
}

#sidebar li.active > a:hover {
  background: #337ab7;
  color: #ffffff;
}

#sidebar li li a {
  padding-left: 25px;
  font-size: 0.9em;
  font-weight: normal;
}

#sidebar li li li a {
  padding: 8px 12px 8px 30px;
  font-size: 0.8em;
  color: #555;
  font-weight: normal;
}

#sidebar li li li a:hover {
  color: #333;
}

/* collapsed sidebar styles */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -41.6%;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -41.6%;
  }
  .row-offcanvas-right.active {
    right: 41.6%;
  }
  .row-offcanvas-left.active {
    left: 41.6%;
  }
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 41.6%;
  }
  #sidebar {
    padding-top:0;
  }

  .container {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 100%;
  }
}

h1, h2, h3 {
  position: relative
}

h1 a.anchor-link,
h2 a.anchor-link,
h3 a.anchor-link {
  font-size: 16px;
  height: 20px;
  margin-top: -10px;
  top: 50%;
  line-height: 20px;
  position: absolute;
  left: -25px;
  text-align: center;
  width: 30px;
  opacity: 0;
}

h1:hover a.anchor-link,
h2:hover a.anchor-link,
h3:hover a.anchor-link {
  opacity: 1;
}

.first-person {
  font-style: italic;
  font-size: 1.1em;
}