<class>
<h1>{{{classes.__class__.name}}}</h1>
{{{classes.__class__.description}}}

<h2>Look</h2>
<p>Choose one from each:</p>
<loop items="classes.__class__.looks"><p>__item__</p></loop>

<h2>Stats</h2>
<p>Your maximum HP is {{{classes.__class__.starting_hp}}}+Constitution.<br />
Your base damage is {{{classes.__class__.damage}}}.</p>

<h2>Starting Moves</h2>
<loop items="classes.__class__.starting_moves" glue="\n"><template type="move" move="__item__"></template></loop>

<h2>Alignment</h2>
<loop items="classes.__class__.alignments">
<h3>__item.name__</h3>
<p>__item.description__</p>
</loop>

<h2>Bonds</h2>
<loop items="classes.__class__.bonds"><p>__item__</p></loop>

<h2>Gear</h2>
<p>Your load is {{{classes.__class__.load}}}.</p>
<gamedata path="classes.__class__.starting_gear"></gamedata>

<h2>Advanced Moves</h2>
<loop items="classes.__class__.advanced_moves" glue="\n"><template type="move" move="__item__"></template></loop>
</class>