<class>
<h1>{{{__class__.name}}}{{{edit_game_link "game_data/classes/__class__.js" "Edit This Class"}}}</h1>
{{{__class__.description}}}

<h2 id="stats"><a only-for="web" href="#stats" class="anchor-link"><span class="glyphicon glyphicon-link"></span></a>Look</h2>
<p>Choose one from each:</p>
<loop items="__class__.looks"><p>__item__</p></loop>

<h2 id="stats"><a only-for="web" href="#stats" class="anchor-link"><span class="glyphicon glyphicon-link"></span></a>Stats</h2>
<p>Your maximum HP is {{{__class__.starting_hp}}}+Constitution.<br />
Your base damage is {{{__class__.damage}}}.</p>

<h2 id="starting-moves"><a only-for="web" href="#starting-moves" class="anchor-link"><span class="glyphicon glyphicon-link"></span></a>Starting Moves</h2>
<loop items="classes.__class__.starting_moves" glue="\n"><template type="move" move="__item__"></template></loop>

{{#if __class__.alignments}}
<h2 id="alignment"><a only-for="web" href="#alignment" class="anchor-link"><span class="glyphicon glyphicon-link"></span></a>Alignment</h2>
<loop items="__class__.alignments">
<h3>__item.name__</h3>
<p>__item.description__</p>
</loop>
{{/if}}

{{#if __class__.drives}}
<h2 id="drives"><a only-for="web" href="#drives" class="anchor-link"><span class="glyphicon glyphicon-link"></span></a>Drives</h2>
<loop items="classes.__class__.drives">
<h3>__item.name__</h3>
<p>__item.description__</p>
</loop>
{{/if}}

<h2 id="bonds"><a only-for="web" href="#bonds" class="anchor-link"><span class="glyphicon glyphicon-link"></span></a>Bonds</h2>
<loop items="__class__.bonds"><p>__item__</p></loop>

<h2 id="gear"><a only-for="web" href="#gear" class="anchor-link"><span class="glyphicon glyphicon-link"></span></a>Gear</h2>
<p>Your load is {{{__class__.load}}}.</p>
<gamedata path="__class__.starting_gear"></gamedata>

<h2 id="advanced_moves_1"><a only-for="web" href="#advanced_moves_1" class="anchor-link"><span class="glyphicon glyphicon-link"></span></a>Advanced Moves for Levels 2+</h2>
<p>When you level up you may take a new advanced move either from your class or from the general list of advanced moves.</p>
<loop items="__class__.advanced_moves_1" glue="\n"><template type="move" move="__item__"></template></loop>
</class>

<h2 id="advanced_moves_2"><a only-for="web" href="#advanced_moves_2" class="anchor-link"><span class="glyphicon glyphicon-link"></span></a>Advanced Moves for Levels 6+</h2>
<p>When you level up you may take a new advanced move either from your class or from the general list of advanced moves.</p>
<loop items="__class__.advanced_moves_2" glue="\n"><template type="move" move="__item__"></template></loop>
</class>